<div class="twelve columns">
  <form>
    <input type="text" class="u-full-width" placeholder="Name..." ng-model="add.newPerson.name">
    <input type="text" class="u-full-width" placeholder="Email..." ng-model="add.newPerson.email">
    <input type="text" class="u-full-width" placeholder="Attending..." ng-model="add.newPerson.attending">
    <input type="text" class="u-full-width" placeholder="Number..." ng-model="add.newPerson.number">
    <textarea type="textarea" class="u-full-width" placeholder="Message..." ng-model="add.newPerson.message"></textarea>
    <button ng-click="add.save()">Save</button>
  </form>
</div>
