<form>
    <label for="name">name: </label>
    <input id="name" type="text" ng-model="edit.individual.name">
    <label for="message">message: </label>
    <input id="message" type="text" ng-model="edit.individual.message">
    <label for="email">email: </label>
    <input id="email" type="text" ng-model="edit.individual.email">
    <label for="number">number: </label>
    <input id="number" type="text" ng-model="edit.individual.number">
    <label for="attending">attending: </label>
    <input id="attending" type="text" ng-model="edit.individual.attending">
    <button ng-click="edit.savePerson()">Save</button>
</form>
